BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp

ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
# BraceWrapping:
#     AfterClass: true
#     AfterFunction: true
#     AfterNamespace: true
#     AfterEnum: true
#     AfterStruct: true
#     # BeforeElse: true
#     SplitEmptyFunction: false